@mixin company-tagline-font {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: $company-tagline-font-color;
}

@mixin panels-font {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $company-tagline-font-color;
}

@mixin links-btn {
  cursor: pointer;
  height: 10vh;
  width: 100%;
  font-style: italic;
  line-height: 6vh;
  border: none;
  box-shadow: 0 1px 0 white;
  @include panel-background-gradient;
}

@mixin buy-btn {
  cursor: pointer;
  height: 10vh;
  width: 100%;
  font-style: italic;
  line-height: 6vh;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 1px 0 white;
  background-color: rgba(0, 128, 0, 0.5);
}

@mixin panel-background-gradient {
  background: -moz-linear-gradient(
    top,
    hsla(0, 0%, 0%, 0.75) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    hsla(0, 0%, 0%, 0.75) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.75) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#ffffff',GradientType=0 );
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin sprite-props {
  width: 30px;
  height: 100%;
  margin: 100% 0px;
  transform: scale(2);
}
