@import url("https://fonts.googleapis.com/css?family=Raleway|Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.panel {
  border: 3px solid red;
}

.panel {
  height: 100vh;
  max-height: 812px;
  width: 100vw;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.panel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

.panel__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(white));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#ffffff',GradientType=0 );
}

.panel__subhead {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 65vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.68);
}

.panel__footer {
  height: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(white));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#ffffff',GradientType=0 );
}

.panel__header--logo {
  width: 50%;
}

.panel__header--logo img {
  height: 100%;
}

.panel__header--tagline {
  width: 50%;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 10vh;
  color: #ffffff;
  background: #000000;
}

.panel__headline {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel__headline h1 {
  font-weight: 400;
}

.panel__headline h2 {
  font-weight: 400;
  line-height: 54px;
  text-transform: capitalize;
}

.panel__subhead--component--img {
  height: 100%;
}

.panel__subhead--component--img img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.panel__subhead--component--text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.panel__subhead--component--list {
  list-style-type: square;
  text-align: justify;
  padding: 0 25px;
}

.panel__subhead--heading {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.panel__button--info {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  height: 10vh;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 white;
          box-shadow: 0 1px 0 white;
  color: white;
  line-height: 6vh;
  text-transform: uppercase;
  font-style: italic;
  border: none;
}

.panel__button--buy {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 128, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 white;
          box-shadow: 0 1px 0 white;
  color: white;
  line-height: 6vh;
  text-transform: uppercase;
  font-style: italic;
  border: none;
}

#fourthPanelFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 9vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(white));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#ffffff',GradientType=0 );
}

.panel__footer--social--fb {
  background: url("/assets/css_sprites.png") no-repeat -80px -41px;
  width: 30px;
  height: 60%;
  margin: 50% 0px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.panel__footer--social--twitter {
  background: url("/assets/css_sprites.png") no-repeat -84px -3px;
  width: 30px;
  height: 60%;
  margin: 50% 0px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.panel__footer--social--instagram {
  background: url("/assets/css_sprites.png") no-repeat -42px -48px;
  width: 30px;
  height: 60%;
  margin: 50% 0px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.panel__subhead--component--form {
  height: 50%;
  border: 3px solid red;
}

.panel__subhead--component--fieldset {
  border: none;
}

.panel__subhead--component--map {
  border: 1px solid red;
  height: 50%;
}

@media only screen and (orientation: landscape) {
  .panel__headline h2 {
    font-weight: 400;
    line-height: 7.5vh;
  }
  .panel__footer--social--fb {
    margin: 3px 0;
  }
  .panel__footer--social--twitter {
    margin: 3px 0;
  }
  .panel__footer--social--instagram {
    margin: 3px 0;
  }
}
/*# sourceMappingURL=style.css.map */