.panel {
  height: 100vh;
  max-height: 812px;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  //   margin: 5px 0; //delete?

  @include panels-font;
  &__header {
    display: flex;
    height: 10vh;
  }
  &__headline {
    @include flex-column;
    height: 15vh;
    @include panel-background-gradient;
  }
  &__subhead {
    position: relative;
    @include flex-column;
    height: 65vh;
    overflow: hidden;

    // background: url(/assets/img-2.png); //delete?
    // background-size: cover; //delete?
    // background-repeat: no-repeat; //delete?

    background-color: rgba(0, 0, 0, 0.68);
    // padding: 0 20px; //delete?
  }
  &__footer {
    height: 15vh;
    @include panel-background-gradient; //delete?
  }
}

.panel__header {
  &--logo {
    width: 50%;
    & img {
      height: 100%;
    }
  }
  &--tagline {
    width: 50%;
    @include company-tagline-font;
    line-height: 10vh;
    color: $company-tagline-font-color;
    background: $company-tagline-background-color;
  }
}

.panel__headline {
  justify-content: space-between;
  & h1 {
    font-weight: 400;
  }
  & h2 {
    font-weight: 400;
    line-height: 54px;
    text-transform: capitalize;
  }
} //if this needed??

.panel__subhead {
  &--component {
    &--img {
      height: 100%;
      & img {
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
    &--text {
      position: absolute;
      height: 100%;
      width: 100%;
      @include flex-column;
    }
    &--list {
      list-style-type: square;
      text-align: justify;
      padding: 0 25px;
    }
  }
  &--heading {
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

.panel__button {
  &--info {
    @include panels-font;
    @include links-btn;
  }
  &--buy {
    @include panels-font;
    @include buy-btn;
  }
}
#fourthPanel {
  & .panel__headline h2 {
    line-height: 14.4vh;
  }
  & .panel__subhead--component {
    &--form {
      height: 100%;
    }
    &--fieldset {
      //   border: none;
      height: 65vh;
      display: flex;
      & input,
      textarea,
      button {
        height: 12%;
        width: 100%;
        @include panels-font;
        border-radius: 6px;
        margin: 5% 0;
        padding: 0 2%;
        opacity: 0.6;
        color: $form-elements-font-color;
        cursor: pointer;
        // background-color: #3CBC8D;
        &:focus {
          //   background-color: gold;
          opacity: 1;
        }
      }
      & button {
        border: none;
        background-color: #4caf50;

        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
    }
  }
  & .panel__footer {
    display: flex;
    justify-content: space-around;
    height: 9vh;
    @include panel-background-gradient;
    &--social {
      &--fb {
        background: url("/assets/css_sprites.png") no-repeat -80px -41px;
        @include sprite-props;
      }
      &--twitter {
        background: url("/assets/css_sprites.png") no-repeat -84px -3px;
        @include sprite-props;
      }
      &--instagram {
        background: url("/assets/css_sprites.png") no-repeat -42px -48px;
        @include sprite-props;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .panel__headline h2 {
    line-height: 7.5vh;
    font-weight: 400;
  }

  #fourthPanel {
    & .panel__subhead--component--fieldset {
      & input,
      textarea,
      button {
        height: 10%;
        margin: 2% 0;
        padding: 0 2%;
      }
    }
    & .panel__footer--social {
      &--fb {
        margin: 20% 0px;
        transform: scale(1.5);
      }
      &--twitter {
        margin: 20% 0px;
        transform: scale(1.5);
      }
      &--instagram {
        margin: 20% 0px;
        transform: scale(1.5);
      }
    }
  }
}