.panel {
  height: 100vh;
  max-height: 812px;
  width: 100vw;
  text-align: center;

  //   margin: 5px 0; //delete?

  @include panels-font;
  &__header {
    display: flex;
    height: 10%;
  }
  &__headline {
    @include flex-column;
    height: 15%;
    @include panel-background-gradient;
  }
  &__subhead {
    position: relative;
    @include flex-column;
    height: 65%;
    overflow: hidden;

    // background: url(/assets/img-2.png); //delete?
    // background-size: cover; //delete?
    // background-repeat: no-repeat; //delete?

    background-color: rgba(0, 0, 0, 0.68);
    // padding: 0 20px; //delete?
  }
  &__footer {
    height: 10%;
    // @include panel-background-gradient; //delete?
  }
}

.panel__header {
  &--logo {
    width: 50%;
    & img {
      height: 100%;
    }
  }
  &--tagline {
    width: 50%;
    @include company-tagline-font;
    line-height: 10vh;
    color: $company-tagline-font-color;
    background: $company-tagline-background-color;
  }
}

.panel__headline {
  & h2 {
    font-weight: 400;
  }
} //if this needed??

.panel__subhead {
  &--component {
    &--img {
      height: 100%;
      & img {
        height: 100%;
        width: 100%;
      }
    }
    &--text {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    &--list {
      text-align: justify;
      padding: 0 25px;
    }
  }
}

.panel__button {
  &--info {
    @include panels-font;
    @include links-btn;
  }
  &--buy {
    @include panels-font;
    @include buy-btn;
  }
}

#fourthPanelFooter {
  background: gray;
}

.panel__headline--social {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  &--fb {
    background: url("/assets/css_sprites.png") no-repeat -51px -10px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    margin: 0 4px;
  }
  &--twitter {
    background: url("pics/sprite/css_sprites.png") no-repeat -83px -5px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    margin: 0 4px;
  }
  &--instagram {
    background: url("pics/sprite/css_sprites.png") no-repeat -42px -47px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    margin: 0 4px;
  }
}

#fourthPanelFooter {
  display: flex;
  justify-content: space-around;
  @include panel-background-gradient;

  padding-top: 2px;
}

.panel__footer--social {
  &--fb {
    background: url("/assets/css_sprites.png") no-repeat -80px -41px;
    width: 30px;
    height: 30px;
    margin: 0 4px;
  }
  &--twitter {
    background: url("/assets/css_sprites.png") no-repeat -84px -3px;
    width: 30px;
    height: 30px;
    margin: 0 4px;
  }
  &--instagram {
    background: url("/assets/css_sprites.png") no-repeat -42px -48px;
    width: 30px;
    height: 30px;
    margin: 0 4px;
  }
}

.panel__subhead--component {
  &--form {
      
    height: 50%;

    border: 3px solid red;
  }
  &--fieldset {
    height: 32.5vh;

    // border: none;
    @include flex-column;
  }
}
.panel__subhead--component--map {
  border: 1px solid red;
  height: 50%;
}

// @media only screen and (orientation: landscape) {
//   .panel__subhead {
//     background-size: contain;
//     &--list {
//       font-size: 14px;
//       font-weight: 800;
//       width: 50vw;
//     }
//   }
// }
