.panel {
  height: 100vh;
  max-height: 812px;
  width: 100vw;
  overflow: hidden;

  border: 1px solid red;
  &__header {
    display: flex;
    height: 10vh;
    text-align: center;
  }
  &__headline {
    height: 15vh;
    overflow: hidden;

    background: -moz-linear-gradient(
      top,
      hsla(0, 0%, 0%, 0.75) 0%,
      hsla(0, 0%, 100%, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      hsla(0, 0%, 0%, 0.75) 0%,
      hsla(0, 0%, 100%, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.75) 0%,
      hsla(0, 0%, 100%, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#ffffff',GradientType=0 );

    border: 1px solid green;
  }
  &__subhead {
    height: 65vh;

    border: 1px solid blue;

    background: url(/assets/img-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.68);
  }
  &__footer {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.68);

    border: 1px solid blueviolet;
  }
}

.panel__header {
  &--tagline {
    color: $company-tagline-color;
    background: #000000;
    height: 10vh;
    width: 50vw;
  }
  &--logo {
    width: 50vw;
    & img {
      height: 10vh;
    }
  }
}
