.panel {
  height: 100vh;
  max-height: 812px;
  width: 100vw;
  text-align: center;

  //   margin: 5px 0; //delete?

  @include panels-font;
  &__header {
    display: flex;
    height: 10vh;
  }
  &__headline {
    @include flex-column;
    height: 15vh;
    @include panel-background-gradient;
  }
  &__subhead {
    position: relative;
    @include flex-column;
    height: 65vh;
    overflow: hidden;

    // background: url(/assets/img-2.png); //delete?
    // background-size: cover; //delete?
    // background-repeat: no-repeat; //delete?

    background-color: rgba(0, 0, 0, 0.68);
    // padding: 0 20px; //delete?
  }
  &__footer {
    height: 15vh;
    @include panel-background-gradient; //delete?
  }
}

.panel__header {
  &--logo {
    width: 50%;
    & img {
      height: 100%;
    }
  }
  &--tagline {
    width: 50%;
    @include company-tagline-font;
    line-height: 10vh;
    color: $company-tagline-font-color;
    background: $company-tagline-background-color;
  }
}

.panel__headline {
  justify-content: space-between;
  & h1 {
    font-weight: 400;
  }
  & h2 {
    font-weight: 400;
    line-height: 54px;
    text-transform: capitalize;
  }
} //if this needed??

.panel__subhead {
  &--component {
    &--img {
      height: 100%;
      & img {
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
    &--text {
      position: absolute;
      height: 100%;
      width: 100%;
      @include flex-column;
    }
    &--list {
      list-style-type: square;
      text-align: justify;
      padding: 0 25px;
    }
  }
  &--heading {
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

.panel__button {
  &--info {
    @include panels-font;
    @include links-btn;
  }
  &--buy {
    @include panels-font;
    @include buy-btn;
  }
}
#fourthPanel {
  & .panel__headline h2 {
    line-height: 14.4vh;
  }
  & .panel__subhead--component {
    &--form {
      height: 50%;

      border: 3px solid red;
    }
    &--fieldset {
      border: none;
    }
    &--map {
      border: 3px solid blue;
      height: 50%;
    }
  }
  & .panel__footer {
    display: flex;
    justify-content: space-around;
    height: 9vh;
    @include panel-background-gradient;
    &--social {
      &--fb {
        background: url("/assets/css_sprites.png") no-repeat -80px -41px;
        @include sprite-props;
      }
      &--twitter {
        background: url("/assets/css_sprites.png") no-repeat -84px -3px;
        @include sprite-props;
      }
      &--instagram {
        background: url("/assets/css_sprites.png") no-repeat -42px -48px;
        @include sprite-props;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .panel__headline h2 {
    line-height: 7.5vh;
    font-weight: 400;
  }

  #fourthPanel .panel__footer--social {
    &--fb {
      margin: 20% 0px;
      transform: scale(1.5);
    }
    &--twitter {
      margin: 20% 0px;
      transform: scale(1.5);
    }
    &--instagram {
      margin: 20% 0px;
      transform: scale(1.5);
    }
  }
}

//   #fourthPanelFooter {
//       height: 10vh;
//   }
